---
// @ts-ignore
import { Icon } from "astro-icon";

const features = [
  {
    title: "Investment advisory: 2022-2023",
    description:
      "Assisted Smartbox in scouting and acquiring digital businesses to develop new products for their customer base.",
    icon: "bx:bxs-briefcase",
  },
  {
    title: "Investment advisory: 2021-2022",
    description:
      "Assisted family office De Picciotto in scouting for new projects to increase toursim and hospitality business in Southern Italy.",
    icon: "bx:bxs-window-alt",
  },
  {
    title: "Product Management and development: 2019-2020",
    description:
      "Assisted family office IPE Holding in developing digital business for subsidiary Cotolicious, food processing and devlivery company.",
    icon: "bx:bxs-window-alt",
  },
  {
    title: "Capital strategy: 2018-2020",
    description:
      "Worked on several capital raising advisory mandates to help companies plan and secure R&D financing.",
    icon: "bx:bxs-bot",
  },
  {
    title: "Product Management: 2015-2018",
    description:
      "Hired to manage new business unit at Simmetrico Network based on new technology product for events business.",
    icon: "bx:bxs-file-find",
  },
  {
    title: "Capital raising and investment management: 2008-2014",
    description:
      "Participated in two private equity multifamily office to acquire minorities in small and medium comapnies for private equity transactions.",
    icon: "bx:bxs-user",
  },
];
---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    Some projects I worked on
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    Generally I have developed experiences in Capital Raising and Product
    management at Small and Medium Companies. Had several other experiences as
    manager and account manager at larger companies with focus on increasing
    sales and partnerships.
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
